# alabaster==0.7.16
# Babel==2.15.0
# certifi==2024.2.2
# charset-normalizer==3.3.2
# cycler==0.12.1
# docutils==0.21.2
# fonttools==4.53.0
# idna==3.7
# imagesize==1.4.1
# Jinja2==3.1.4
# kiwisolver==1.4.5
# MarkupSafe==2.1.5
# matplotlib==3.5.1
# mpmath==1.3.0
# numpy==1.26.4
# ordered-set==4.1.0
# packaging==24.0
# pillow==10.3.0
# pip-check-reqs==2.5.3
# Pygments==2.18.0
# PyLaTeX==1.4.1
# pyparsing==3.1.2
# PyQt5==5.15.10
# PyQt5-Qt5==5.15.2
# PyQt5-sip==12.13.0
# python-dateutil==2.9.0.post0
# QtPy==2.4.1
# requests==2.31.0
# six==1.16.0
# snowballstemmer==2.2.0
# Sphinx==7.3.7
# sphinxcontrib-applehelp==1.0.8
# sphinxcontrib-devhelp==1.0.6
# sphinxcontrib-htmlhelp==2.0.5
# sphinxcontrib-jsmath==1.0.1
# sphinxcontrib-qthelp==1.0.7
# sphinxcontrib-serializinghtml==1.1.10
# sympy==1.9
# tomli==2.0.1
# urllib3==2.2.1
