# needed:
# sudo apt-get update
# sudo apt-get install texlive-full

# python3 -m venv venv
# source venv/bin/activate
# pip3 install -r requirements.txt
sympy==1.9
PyQt5==5.15.10
matplotlib==3.5.1
numpy==1.26.4
pylatex==1.4.1
qtpy==2.4.1
#typing_extensions==4.9.0
#more-itertools==8.10.0
# string, itertools
